.alpackages/Microsoft_Business Foundation_24.3.21374.21517.app
.alpackages/Microsoft_Application_24.3.21374.21517.app
.alpackages/Microsoft_Base Application_24.3.21374.21517.app
.alpackages/Microsoft_System Application_24.3.21374.21517.app
.alpackages/Microsoft_System_24.0.21458.0.app
*.app
.vscode/launch.json
.vscode/rad.json